<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4"> 
<display-name>Application WEB affichant HelloWorld</display-name> 
    <description>
      Servlet and JSP Examples.
    </description>
    
    <!-- traitement inscription -->
    <servlet> 
        <servlet-name>FrontServlet</servlet-name> 
        <servlet-class>etu1919.framework.servlet.FrontServlet</servlet-class> 
    </servlet>

    <servlet-mapping> 
        <servlet-name>FrontServlet</servlet-name> 
        <url-pattern>/FrontServlet</url-pattern> 
    </servlet-mapping> 

</web-app>